*{
    margin: 0;
}

/*Permet de faire tourner le logo*/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/**/

body{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 150px;
    font-family: 'Oswald', sans-serif;
}

h2{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

h3{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

ul{
    list-style-type: none;
  }

p{
    font-family: 'Open Sans', sans-serif;
}

a{
    color: #000000;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

.container_principale{
    width: 80%;
    height: 80%;
    background-color: #ececec;
    box-shadow: 30px 30px 25px 11px rgba(0,0,0,0.74);

}

.container_header_navbar{
    height: 10%;
    display: flex;
    justify-content: space-between;
  }
  
  header{
      display: flex;
      margin: 10px 0 0 10px;
      gap: 10px;
  }
  
  .header_element_one_p{
      font-size: 30px;
  }
  
  .header_logo{
      -webkit-animation:spin 4s linear infinite;
      -moz-animation:spin 4s linear infinite;
      animation:spin 4s linear infinite;
  }
  
  .nav_element_one{
      display: flex;
      justify-content: center;
      margin: 10px 20px 0 0;
  }
  
  .ul_element_one{
      display: flex;
      gap: 20px;
      margin: auto;
  }
  
  .li_nav {
      cursor: pointer;
      position: relative;
    }
  
  .li_nav:after {
      content: '';
      position: absolute;
      width: 110%;
      height: 3px;
      bottom: 0px;
      left: -4px;
      transform: scaleX(0);
      box-shadow: 0 5px 0 #000000;
      transform-origin: bottom right;
      transition: transform 0.5s ease-out;
    }
    
    .li_nav:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }